.course-overview {
    border: 1px solid black;
    margin: 20px 40px;
    padding: 5px 20px;

    p {
        padding-left: 15px;
    }

    h1 {
        text-align: center;
        border-bottom: 1px solid #465788;
    }
}

.comp1950-course-details {
    border: 1px solid black;
    margin: 20px 40px;

    display: grid;
    grid-template-areas:
        "image coursetext";
    grid-gap: 40px; 
}


.about-outline-img {
    grid-area: image;
    margin: auto 0;

    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: auto 0;           
    }
}

.about-outline {
    grid-area: coursetext;

    h3{
        margin-top: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #465788;
    }
    
}