main article {
	display: block;
	padding: 20px;
	margin-bottom: 20px;
}

.about-article {
  display: block;
  padding:20px;
  margin-bottom:20px;
}


  article aside {
    float: right;
    background-color: white;
    border: 1px dotted #333333;
    padding: 5px 15px;
    margin-left: 20px;
    width: 150px;
  }

  article aside ul {
    padding: 0;
    list-style-position: inside;
  }

  article figure {
    margin: 0 20px 10px 0;
    padding: 7px;
    background-color: white;
    border: 1px solid #666;
    float: left;
  }

 .home-articles {
   width: 35%;
   background-color: lightgrey;
   margin: 0 20px 10px 0;
   align-items: center;

 }

 .index-outcome {
  display: block;
  padding:20px;
  margin: 0 auto;
  border: solid black 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

 .topic-summary article {
   border: solid black 1px;
   margin:0 20px 0 20px;
   margin-bottom: 30px;
 }

 .about-course article{
  background-color: lightgrey;
  margin:0 auto;
  padding:20px;
  border: solid black 1px;
}

.outline-article {
  border: solid black 1px;
  display: flex;
  margin: 20px;
  font-size: 15px;
}

