
footer {
    background-color: #465788;
    color: white;
    padding: 1.875rem;
    font-family: 'Open Sans', sans-serif;
    margin: 0; }
    footer p {
      margin-bottom: 0;
      text-align: center; }
    @media (max-width: 41.875em) {
      footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center; }
        footer p {
          margin: 0;
          padding: 0;
          line-height: 1; } }
  
footer nav {

  display: flex;
  justify-content: center;

  ul {
    margin: 0;
    padding: 0;
    line-height: 2;
    list-style: none;
    display: flex;
   }

  a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 20px;
    border-right: 2px solid white; 
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }

  li:last-child a {
      border-right: none; }

  @media (max-width: 41.875em){
    ul {
      display: block;
    }

    a {
      border-right: none;
      line-height: 2;
    }

  }

}
  

  