.lesson-plan {
    display: grid;
}
.lesson-items {
    display: grid;
    grid-template-areas: 
    "i ii iii"
    "iv v vi"
    "vii iix ix"
    "x xi xii";

    grid-template-columns: 300px 300px 300px;
    grid-gap: 20px;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.lesson {
    background-color: darken(lightsteelblue,0.2);
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    border: 2px solid rgb(55, 102, 141);

    a:link {
        color: $link-color-2;
        text-decoration: none;
    }
    a:visited {
        color: $link-color-2;
        text-decoration: none;
    }

    h3 {
        text-align: center;
    }
  }

.lesson:hover {
    background-color: lightgrey;
    color: black;
    transition: 0.3s ease-in-out;

    a:link {
        color: $link-color;
        transition: 0.3s ease-in-out;
    }
    a:visited {
        color: $link-color;
    }
    a:hover {
        color: $link-hover;
        text-decoration: underline;
    }
}

.lesson-topic {
    a:link {
        color: $link-color;
        text-decoration: none;
    }
}



.lesson-1 {
    grid-area: i;
}
.lesson-2 {
    grid-area: ii;
}
.lesson-3 {
    grid-area: iii;
}
.lesson-4 {
    grid-area: iv;
}
.lesson-5 {
    grid-area: v;
}
.lesson-6 {
    grid-area: vi;
}
.lesson-7 {
    grid-area: vii;
}
.lesson-8 {
    grid-area: iix; 
}
.lesson-9 {
    grid-area: ix;
}
.lesson-10 {
    grid-area: x;
}
.lesson-11 {
    grid-area: xi;
}
.lesson-12 {
    grid-area: xii;
}




