nav {
    color: #465788;
    display: flex;
    border-radius: 30px;
    @media (max-width: 750px){
      display: none;
      .show & {
        display: block;
      }
    }
  }

  header nav ul {
    background:#465788;
    width: auto;
    list-style: none;
    display: flex;
    flex:1;
    margin: 0;
    padding: 0;
    line-height: 4;
    justify-content: space-around;
    text-align: center;
  }

  header nav ul li {
    width: 100%;
    text-align: center;
  }

  header nav a {
    text-decoration: none;
    font-size: 1.3em;
    line-height: 46px;
    display: block;
    color: white;
  }

  header nav a:hover,
  header nav a:focus,
  header nav a:active {
      background-color: #94b7eb;
  }
