.schedule {
    display: grid;
    grid-template-areas: 
    "day1 day2 day3"
    "day4 day5 day6"
    "day7 day8 day9"
    "day10 day11 day12";
}



.schedule-content-1 {
    grid-area: day1;
}
.schedule-content-2 {
    grid-area: day2;
}
.schedule-content-3 {
    grid-area: day3;
}
.schedule-content-4 {
    grid-area: day4;
}
.schedule-content-5 {
    grid-area: day5;
}
.schedule-content-6 {
    grid-area: day6;
}
.schedule-content-7 {
    grid-area: day7;
}
.schedule-content-8 {
    grid-area: day8;
}
.schedule-content-9 {
    grid-area: day9;
}
.schedule-content-10 {
    grid-area: day10;
}
.schedule-content-11 {
    grid-area: day11;
}
.schedule-content-12 {
    grid-area: day12;
}



