// Topic Summary Styles

.topic-summary {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    

    article {
        width: 32%;
        border: 10px solid #465788;
    }

    .featured-image {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 958px) {
        
        flex-direction: column;
        article {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    } 
}