/* CSS Document */
/*body font-family is here*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: "Archivo Black", sans-serif;
}

section h1 {
  border-left: 5px solid #f9c22e;
  padding-left: 5px;
}

main li {
  line-height: 1.8;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
}

.wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #e7e7e7;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  max-width: 1024px;
  background-color: white;
  margin: 0 auto;
}

nav {
  color: #465788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

header nav ul {
  background: #465788;
  width: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0;
  line-height: 4;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav a {
  text-decoration: none;
  font-size: 1.3em;
  line-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
  background-color: #94b7eb;
}

.hamburger {
  display: none;
}

@media (max-width: 48em) {
  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 37px;
    height: 37px;
    margin-right: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  .hamburger .hamburger-icon {
    color: #0c090d;
    line-height: 1;
    font-size: 3.4em;
  }
  .hamburger .hamburger:focus,
  .hamburger .hamburger-icon:focus {
    outline: none;
  }
  .hamburger .hamburger:focus .hamburger-icon {
    outline: 5px solid rgba(83, 179, 203, 0.5);
  }
  .hamburger .hamburger-text {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
  }
}

footer {
  background-color: #465788;
  color: white;
  padding: 1.875rem;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

footer p {
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 41.875em) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul {
  margin: 0;
  padding: 0;
  line-height: 2;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0 20px;
  border-right: 2px solid white;
}

footer nav a:hover, footer nav a:focus, footer nav a:active {
  text-decoration: underline;
}

footer nav li:last-child a {
  border-right: none;
}

@media (max-width: 41.875em) {
  footer nav ul {
    display: block;
  }
  footer nav a {
    border-right: none;
    line-height: 2;
  }
}

main article {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}

.about-article {
  display: block;
  padding: 20px;
  margin-bottom: 20px;
}

article aside {
  float: right;
  background-color: white;
  border: 1px dotted #333333;
  padding: 5px 15px;
  margin-left: 20px;
  width: 150px;
}

article aside ul {
  padding: 0;
  list-style-position: inside;
}

article figure {
  margin: 0 20px 10px 0;
  padding: 9px;
  background-color: white;
  border: 1px solid #666;
  float: left;
}

.home-articles {
  width: 45%;
  background-color: lightgrey;
  margin: 0 20px 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-summary article {
  border: solid black 1px;
}

.topic-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topic-summary article {
  width: 32%;
}

.topic-summary .featured-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.topic-summary .featured-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Box Sizing Reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

fieldset {
  border: none;
  padding: 10px;
}

form {
  background-color: white;
  width: 360px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 0 10px #465788;
          box-shadow: 0 0 0 10px #465788;
  padding: 30px;
}

form .btn-submit {
  background-color: #465788;
  display: block;
  width: 100%;
  padding: 5px;
  height: 30px;
  border: none;
  color: white;
}

form h1 {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
}

form .number {
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  background: #465788;
  display: inline-block;
  padding: 4px;
}

form textarea {
  height: 75px;
  width: 100%;
  background-color: lightgrey;
  border-radius: 5px;
}

form .text-input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding: 25px;
}

.home-topic img {
  max-width: 70%;
  border-radius: 80%;
  width: 200px;
  height: 200px;
}

.schedule {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "day1 day2 day3" "day4 day5 day6" "day7 day8 day9" "day10 day11 day12";
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  background-color: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.schedule-content {
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

.schedule-content a:link {
  color: #2c3d77;
}

.schedule-content a:visited {
  color: #2c3d77;
}

.schedule-content:hover {
  background-color: lightsteelblue;
  color: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.schedule-content:hover a {
  color: ivory;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.course-schedule {
  background-color: white;
  margin: 0 auto;
  border: none;
}

.schedule-content-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: day1;
}

.schedule-content-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: day2;
}

.schedule-content-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: day3;
}

.schedule-content-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: day4;
}

.schedule-content-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: day5;
}

.schedule-content-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: day6;
}

.schedule-content-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: day7;
}

.schedule-content-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: day8;
}

.schedule-content-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: day9;
}

.schedule-content-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: day10;
}

.schedule-content-11 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: day11;
}

.schedule-content-12 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: day12;
}

.lesson-plan {
  display: -ms-grid;
  display: grid;
}

.lesson-items {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "i ii iii" "iv v vi" "vii iix ix" "x xi xii";
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  background-color: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.lesson {
  background-color: lightgrey;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

.lesson a:link {
  color: #2c3d77;
}

.lesson a:visited {
  color: #2c3d77;
}

.lesson-topic a:link {
  color: #2c3d77;
  text-decoration: none;
}

.lesson-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: i;
}

.lesson-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ii;
}

.lesson-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: iii;
}

.lesson-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: iv;
}

.lesson-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: v;
}

.lesson-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: vi;
}

.lesson-7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: vii;
}

.lesson-8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: iix;
}

.lesson-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: ix;
}

.lesson-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: x;
}

.lesson-11 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: xi;
}

.lesson-12 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: xii;
}
/*# sourceMappingURL=styles.css.map */